<div class="banner hero_wrap flex">
    <div class="overlay"></div>
    <div class="banner_container">
        <p class="slogan">Giải pháp <br>thiết bị xây dựng</p>
        <p class="content">Thiết bị hiện đại, đa dạng chủng loại, giá cả hợp lý, phục vụ 24/7<br>Đặt hàng dễ dàng, giao nhận nhanh chóng</p>
        <div>
            <button class="learn_more_button">Xem thêm</button>
            <button class="contact_button">Liên hệ</button>
        </div>

        <div class="introduction">
            <div class="intr_box welcome_box">
                <h4>Welcome</h4>
                <h5>CHÀO MỪNG QUÝ KHÁCH GHÉ THĂM WEBSITE VẬT LIỆU XÂY DỰNG</h5>

            </div>
            <div class="intr_box introduce_product_box">
                <h4>Sản phẩm</h4>
                <h5>CHÚNG TÔI CUNG CẤP TẤT CẢ CÁC SẢN PHẨM THIẾT BỊ XÂY DỰNG</h5>
                <p>Chúng tôi chuyên cho thuê thiết bị xây dựng các loại, giá tốt nhất, đầy đủ chủng loại đến mọi công trình</p>
            </div>
            <div class="intr_box introduce_service_box">
                <h4>DỊCH VỤ</h4>
                <h5>DỊCH VỤ VẬN CHUYỂN</h5>
                <p>Cung cấp dịch vụ bảo đảm, an toàn, hỗ trợ tốt nhất cho quý khách khi đến với T&T</p>
            </div>

        </div>

    </div>

</div>
