@model WebChoThueThietBiXD.Models.DanhMucThietBi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main_content">
    <h1>Tạo danh mục</h1>
    <h4>Danh mục thiết bị</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="tenDanhMuc" class="control-label">Tên Danh mục</label>
                    <input asp-for="tenDanhMuc" class="form-control" />
                    <span asp-validation-for="tenDanhMuc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
