@model WebChoThueThietBiXD.Models.DanhMucThietBi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main_content">
    <h1>Chỉnh sửa</h1>

    <h4>Danh Mục Thiết Bị</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="maDanhMuc" />
                    <div class="form-group">
                        <label asp-for="tenDanhMuc" class="control-label"></label>
                        <input asp-for="tenDanhMuc" class="form-control" />
                        <span asp-validation-for="tenDanhMuc" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
