@model WebChoThueThietBiXD.Models.NhanVien

@{
    ViewData["Title"] = "StaffProfile";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="main_content" style="height: auto; margin-top: 150px; margin-left: 300px;">
    <div class="container">
        <h1>Cập nhật thông tin nhân viên</h1>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <form asp-action="StaffProfile" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="maNhanVien" />
                    <div class="form-group">
                        <label asp-for="tenNhanVien" class="control-label"></label>
                        <input asp-for="tenNhanVien" class="form-control" />
                        <span asp-validation-for="tenNhanVien" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ngaySinh" class="control-label"></label>
                        <input asp-for="ngaySinh" class="form-control" />
                        <span asp-validation-for="ngaySinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="soDienThoai" class="control-label"></label>
                        <input asp-for="soDienThoai" class="form-control" />
                        <span asp-validation-for="soDienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="tienLuong" class="control-label"></label>
                        <input asp-for="tienLuong" class="form-control" />
                        <span asp-validation-for="tienLuong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="diaChi" class="control-label"></label>
                        <input asp-for="diaChi" class="form-control" />
                        <span asp-validation-for="diaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Trở lại</a>
        </div>
    </div>
</div>